.button{
    color: white;
    font-size: 16px;
    z-index: 4;
    padding: 16px 81px;
    background: #191919;
    border: 1px solid transparent;
    font-family: "EudoxusSansLight";
}
.button:hover{
    background: #3f3e3e;
    transition-duration: 0.3s;
}