.section3-companies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 10px 30px 120px 30px;
}

.section3-companies-header{
    font-weight: 500;
    font-size: 28px;
    color: #191919;
    font-family: 'EudoxusSansRegular';
    text-align: center;
}

.section3-companies-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;
    flex-wrap: wrap;
}
.section3-companies-list-companie{
    width: 200px;
    height: 200px;
    background-color: #F7F7F7;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.section3-companies-list-companie:hover{
    background-color: #fbfafa;
    transition-duration: 0.3s;
}