.section2{
    padding: 80px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}
.section2-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.section2-slice1{
    width: 82.5%;
    font-weight: 100;
    font-size: 32px;
    font-family: 'EudoxusSansRegular';
    margin-bottom: 24px;
    text-align: center;
}
.section2-slice2{
    width: 35%; 
    font-weight: 400;
    font-size: 14px;
    font-family: 'EudoxusSansLight';
    margin-bottom: 40px;
    text-align: center;
}


@media  (max-width: 992px){
    .section2-slice1{
        width: 90%;
    }
    .section2-slice2{
        width: 90%;
    }
}
